@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.header{
    width: 100%;
    height: 100vh;
    background:url(images/back.jpg);
    background-position: center;
    background-size: cover;
    
}
.navbar{
    width: 100%;
    background-color: white;
    display: flex;
    border-bottom: 4px solid green;

}
nav{
    margin: auto;
    align-items: center;
    justify-content: space-between;
}
nav ul li{
    display: inline-block;
    margin: 0 30px;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    font-size: 22px;
    color: rgb(76, 182, 90);
    
}
.content{
  position: absolute;
  top: 50%;
  text-align: center;
  justify-content: center;
  transform: translateY(-50%);
  width: 100%;
  
}
.content h1{
    text-transform: uppercase;
    color: #fff;
    font-size: 60px;
}
.content p{
    font-size: 16px;
    color: white;
    margin-bottom: 20px;

}
.content .btn{
    width: 180px;
    height: 40px;
    background-color: orangered;
    border: none;

}
.content .btn a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}
.container{
    width: 100%;
    
}
.row{
    display: flex;
    margin: 15px;
}
.row .col-4{
    flex-basis: 25%;
    
}
.row .col-4 img{
    width: 460px;
    height: 427px;
}
.container h1{
    text-align: center;
    margin: 20px;
    padding: 20px;
    position: relative;

}
.container h1:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 3px;
    color: #009688;
    border-width: 0 0 3px solid;
    width: 100%;
    border-style: solid;
    text-align: center;
}